body {
    background: #222;
    color: white;
    text-align: center;
    font-family: Arial;
}

#juego {
    position: relative;
    width: 300px;
    height: 500px;
    background: #333;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
}

#objetivo {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

#puntaje {
    margin-top: 20px;
    font-size: 24px;
}

#gameOver {
    display: none;
    margin-top: 20px;
}

#gameOver button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ff5722;
    color: white;
}
